{% extends 'navbar.html' %}

{% block content %}


{% if search %}
{% for user in result %}
<a href="{% url 'App_Login:user' username=user.username %}">
    <p>{{user}}</p>
</a>
{% endfor %}
{% else %}

<h1>HOME PAGES</h1>
{% for post in all_post %}
<h6>{{post.author}}</h6>
<p>{{post.upload_data}}</p>
{% if post.caption %}
<p>{{post.caption}}</p>
{% endif %}
<img src="/media/{{post.image}}" height="auto" width="400px" alt="">
<br><br>
{% if already_liked %}
<a href="{% url 'App_posts:unlike' id=post.id %}"><i class="fas fa-heart" style="font-size: 40px;"></i></a>

{% else %}
<a href="{% url 'App_posts:like' id=post.id %}"><i class="far fa-heart" style="font-size: 40px;"></i></a>
{% endif %}
{% endfor %}

{% endif %}
{% endblock %}